/** GENERAL STYLE START */
html * {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
  font-size: 18px;
  display: grid;
  grid-template-rows: auto 200px 80px;
  max-width: 1440px;
  margin: 0 auto;
}

body a {
  text-decoration: none;
}
/** GENERAL STYLE END */

/** MAIN SECTION STYLE START */

/** MAIN SECTION STYLE END */

/** NAVIGATION STYLE START */

/** NAVIGATION STYLE END */

/** MAIN TEXT STYLE START */

/** MAIN TEXT STYLE END */

/** BANNERS STYLE START */

/** BANNERS STYLE END */

/** FOOTER STYLE START */

/** FOOTER STYLE END */

/** FOOTER INFO STYLE START */

/** FOOTER INFO STYLE END */

/** FOOTER MENU STYLE START */

/** FOOTER MENU STYLE END */
